<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!--- Site CSS -->
    <link rel="stylesheet" type="text/css" href="/components/reset.min.css">
    <link rel="stylesheet" type="text/css" href="/components/site.min.css">
    <link rel="stylesheet" type="text/css" href="/components/grid.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <!--- Component CSS -->
    <link rel="stylesheet" type="text/css" href="/components/menu.min.css">
    <link rel="stylesheet" type="text/css" href="/components/input.min.css">
    <link rel="stylesheet" type="text/css" href="/components/dropdown.min.css">
    <link rel="stylesheet" type="text/css" href="/components/icon.min.css">
    <link rel="stylesheet" type="text/css" href="/components/button.min.css">
    <link rel="stylesheet" type="text/css" href="/components/table.min.css">
    <link rel="stylesheet" type="text/css" href="/components/message.min.css">
    <link rel="stylesheet" type="text/css" href="/components/divider.min.css">
    <link rel="stylesheet" type="text/css" href="/components/form.min.css">
    <link rel="stylesheet" type="text/css" href="/components/modal.min.css">
    <link rel="stylesheet" type="text/css" href="/components/transition.min.css">    
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous"></script>
    <!--- Component JS -->
    <!--<script type="text/javascript" src="dist/components/transition.js"></script>-->
    <script type="text/javascript" src="/semantic.min.js"></script>
    <script type="text/javascript" src="/components/dropdown.min.js"></script>
    <script type="text/javascript" src="/components/form.min.js"></script>
    <script type="text/javascript" src="/components/dimmer.min.js"></script>
    <script type="text/javascript" src="/components/modal.min.js"></script>
    <script type="text/javascript" src="/components/transition.min.js"></script>
    
    <!--- Example CSS -->
    <style>
        body {
            padding: 1em;
            margin-bottom: 10px;
        }

        .ui.menu {
            margin: 3em 0em;
        }

            .ui.menu:last-child {
                margin-bottom: 110px;
            }
    </style>
    <!--- Example Javascript -->
    <script>
        $(document).ready(function () {
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });

            $('.message .close').on('click', function () {
                $(this).closest('.message').transition('fade');
            });

            $('.ui.menu a.item').on('click', function () {
                $(this).addClass('active').siblings().removeClass('active');
            });
        });
    </script>
</head>
<body>
    <div class="ui menu">
        <div class="header item">DMS</div>
        <a class="item @(ViewBag.page=="Home"?"active":string.Empty)" asp-action="dashboard" asp-controller="Home">Dashboard</a>
        <a class="item @(ViewBag.page=="Containers"?"active":string.Empty)" asp-action="Index" asp-controller="Containers">Containers</a>
        <a class="item @(ViewBag.page=="Images"?"active":string.Empty)" asp-action="Index" asp-controller="images">Images</a>
        <!--<a class="item" asp-action="Index" asp-controller="activity">Activities</a>-->
        <a class="item @(ViewBag.page=="Host"?"active":string.Empty)" asp-action="Index" asp-controller="Host">Hosts</a>
        <a class="item @(ViewBag.page=="User"?"active":string.Empty)" asp-action="Index" asp-controller="user">Users</a>
        <!--<div class="ui dropdown item">
            Dropdown
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Action</div>
                <div class="item">Another Action</div>
                <div class="item">Something else here</div>
                <div class="divider"></div>
                <div class="item">Separated Link</div>
                <div class="divider"></div>
                <div class="item">One more separated link</div>
            </div>
        </div>-->
        <div class="right menu">
            <!--<a class="item">Users</a>-->
            <div class="ui dropdown item">
                <div class="text">
                    <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/small/jenny.jpg"> @User.Identity.Name
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a asp-action="Profile" asp-controller="user" asp-route-id="@User.Claims.FirstOrDefault(x=>x.Type=="UserID").Value" class="item">Edit Profile</a>
                    <div class="divider"></div>
                    <a class="item" asp-action="logout" asp-controller="account">LogOut</a>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    
    @RenderSection("scripts", required: false)
    
</body>
</html>