@model UserListViewModel
@{
    ViewBag.Page = "User";
        ViewData["Title"] = "Users | Docker Management System";

}
<h2 class="ui dividing header">Users<a id="types" class="anchor"></a></h2>
<button class="positive ui button" id="newAddUser">Add New User</button>
<table class="ui celled selectable table">
    <thead>
        <tr>
            <th>Name</th>
            <th>EMail</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.EMail</td>
                <td>@item.Role.RoleName</td>
                <td><a class="negative ui button" onclick="return confirm('Are you sure?')"   asp-action="delete" asp-controller="user" asp-route-id="@item.UserId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="ui modal" id="newUserModal">
    <i class="close icon"></i>
    <div class="header">
        New User
    </div>
    <div class="content">
        <form class="ui form" id="newuserform" asp-action="AddNewUser" method="POST" asp-controller="User">
            <div class="field">
                <label>Namee</label>
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="field">
                <label>E-Mail</label>
                <input type="email" name="email" placeholder="E-Mail">
            </div>
            <div class="field">
                <label>Role</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="RoleId">
                    <i class="dropdown icon"></i>
                    <div class="default text">Role</div>
                    <div class="menu">
                        @foreach(var item in Model.Roles){
                            <div class="item" data-value="@item.RoleId">@item.RoleName</div>                        
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <button type="submit" form="newuserform" class="ui positive right labeled icon button">
            Save it
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>

<script>
@section scripts{
    $(document).ready(function () {
        $("#newAddUser").click(function () {
            $('#newUserModal').modal('show');
        });
        $('.ui.dropdown').dropdown();
    });
    }
</script>